@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
}

.formula-header {
    display: flex;
    justify-content: center;
    padding: 15px;
}

html {
    scroll-behavior: smooth;
}

.hero {
    background-image: url(./images/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 838px;

}

.header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    max-width: 922px;
    border-radius: 50px;
    align-items: center;
    padding: 16px 46px 16px 46px;
    position: fixed;

}

.header ul li a {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.logo-header {
    padding-right: 112px;
}

.botao-acao {
    padding-left: 112px;
    display: flex;
}

.header ul {
    display: flex;
    gap: 37px;
}

/* Sobre */

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sobre h1 {
    padding: 100px 0px 10px 0px;
}


.sobre p {

    max-width: 1500px;
    padding-top: 10px;
    padding-bottom: 16px;
    font-size: 23px;
    line-height: 1.6;

}

.cards-sobre {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 60px 0px 60px;
}

.cards-sobre h2 {
    padding: 22px 0px 22px 0px;
}

.card-sobre p {
    font-size: 18px
}

.sobre-func {
    margin-bottom: 8%;
}

/* Animais adoção */



.animais-adocao h1 {
    text-align: center;
    margin-top: 5%;
}


.section-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 4%;
}

.card {
    border-radius: 30px;
    border: 1px solid #E0D9D9;
    background: #F9F5F5;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nome-animal {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 19px;

}


.raca-icone-idade {
    display: flex;
    gap: 31px;
    padding: 19px 0px 19px 0px;
}

.card p {
    text-align: center;
}

.descricao-animal {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 275;
    max-width: 349px;
}

.button-card {
    display: flex;
    padding: 15px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 50px;

}

.button-card button {
    display: flex;
    padding: 5px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: black;
    color: white;
    border-radius: 50px;

}

.button-card button a {
    color: white;
    font-weight: 500;
}

/* ================= LOCALIZAÇÃO ================= */

.localizacao {
    text-align: center;
    padding: 50px 20px;
}

.localizacao h2 {
    font-size: 28px;
    font-weight: 700;
}

.localizacao p {
    margin-top: 5px;
    color: #555;
}

.localizacao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
    /* ESSENCIAL para não quebrar o layout */
}

.endereco {
    display: flex;
    width: 838px;
    height: 667px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.endereco h3 {
    padding: 0px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.72px;

}

.icone {
    width: 30px;

}

.endereco p {
    font-size: 24px;
    margin-top: 10px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 706px;
}

.gato-img {
    width: 220px;
    margin-top: 20px;
}

.mapa iframe {
    border-radius: 10px;
}

/* ================= CONTATO ================= */

.contato {
    display: flex;
    width: 1920px;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.contato h2 {
    font-size: 26px;
    font-weight: 800;
    font-size: 40px;
}

.btn-contato {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    letter-spacing: -0.3px;
    width: 303px;

}

.btn-contato a {
    display: flex;
    color: white;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    justify-content: center;
}

.faq {
    margin-top: 40px;
    max-width: 700px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.faq-item {
    background: #f4f4f4;
    padding: 16px;
    border-radius: 12px;
    font-size: 14px;
    text-align: left;
    font-size: 15px;
    height: auto;
}

.faq-item p {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.28px;
}

.faq-item strong {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}



/* ================= FOOTER ================= */

.footer {
    width: 100%;
    background: #000;
    padding: 18px 0;
    text-align: center;
    margin-top: 50px;
}

.footer p {
    color: #fff;
    font-size: 14px;
}